/*
    Global

    1.6em = 14px
    1.8em = 16px
*/

:root {
    --font: Arial;

    --clr-primary: var(white);
    --clr-primary-constrast: var(white);
    --clr-secondary: var(white);
}

html {
    font-size: 62.5%;
    font-family: var(--font);
}

body {
    padding-top: 50px;
}

h1 {
    font-size: 5rem;
    font-family: var(--font);
}

h2 {
    font-size: 3.5rem;
    font-family: var(--font);
}

h3 {
    font-family: var(--font);
}

h4 {
    font-family: var(--font);
}

p {
    font-family: var(--font);
}
a {
    font-family: var(--font);
}
div {
    font-family: var(--font);
}

/*
    Header nav
*/

/* .header-nav {
    background-color: #333;
    overflow: hidden;
}

.header-nav :is(li, a) {
    float: left;
    color: #f2f2ff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
.header-nav li {
    padding: 14px 16px;
    list-style-type: none;
}

.header-nav li:hover, a:hover {
    background-color: #ddd;
    color: black;
}

.header-nav li.active {
    background-color: #04AA6D;
    color: white;
} */
.top-nav {
    width: 100%
}
.top-nav a {
    font-family: var(--font);
    font-size: 2.5rem;
}
.top-nav > ul {
    justify-content: flex-end
}
@media screen and (min-width: 753px) { /* TODO: check width of bootstrap */
    .top-nav > ul > li:nth-child(1) {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
}
.top-nav__header {
    box-shadow: 0px 1rem 2rem -1rem rgba(0,0,0,.7);
}


/*
    Footer nav
*/

.footer-nav {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto;
    list-style-type: none;

    text-align: center;
    margin-top: 25px;
}
.footer-nav li{
    padding-bottom: 25px;
}

/*
    Excerpt
*/
.excerpt-card {
    width: 100%;

    padding-bottom: 5px;

    border-color: cyan;
    /* border-bottom: cornsilk; */
    border-style: solid;
}
.excerpt-card::after {
    padding: 0;
}
.excerpt-body h2 {
    text-align: center;
}
.excerpt-body p {
    font-size: 1.8em;
    max-width: 70ch;
    font-family: var(--font);

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}